openai
flask
flask-cors
flask[async]
langchain
langchain_core
langchain_openai
langchain_community
langchain_postgres
langchain_redis
langchain_unstructured
langgraph
supabase
unstructured
dotenv
langchain_tavily
psycopg_pool
psycopg
psycopg_binary
psycopg2