openai
flask
langchain
langchain_core
langchain_openai
langchain_community
langchain_postgres
langchain_redis
langgraph
supabase
flask-cors
unstructured
dotenv
langchain_tavily
psycopg_pool
psycopg
psycopg_binary
psycopg2